body {
    background-color: white;
    margin: 0px;
}

h2, h3, p, li, .button, footer, .join, .table, .table-additional, .scroll-to-top, .membership-options article, .wwc-radio, .slides {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h1 {
    font-family: 'Antonio', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

h4 {
    font-family: 'Antonio', sans-serif;
    text-transform: capitalize;
    text-align: left;
}

h1 {
    font-size: 2rem;
    color: black;
}

h2 {
    font-size: 1.15rem;
    color: rgb(3, 59, 55);
}

p, li {
    font-size: 0.9rem;
    line-height: 18px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(25, 153, 144);
}

.fees>h3 {
    text-align: left;
    padding-left: 50px;
}

/*MENU AND NAVIGATION*/
.menu {
    text-align: center;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px 0px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.logo {
    height: 120px;
    width: auto;
    border: 1px solid white;
    border-radius: 1.25rem;
}

.navigation {
    display: inline-block;
    list-style-type: none;
    padding-right: 10px;
    padding-bottom: 10px;
}

.navigation li {
    font-weight: 800;
    line-height: 1.5rem;
}

.join-button {
    display: inline-block;
    word-wrap: nowrap;
    background-color: black;
    border-radius: 1rem;
    padding: 10px;
    color: white;
    font-size: 0.9rem;
    font-weight: 600;
    margin-top: 10px;
}

.join-button:hover {
    background-color: #e7d329;
    color: black;
}

li, li footer {
    display: inline;
    list-style-type: none;
    padding: 0px 15px;
}

.cta {
    text-decoration: none;
    font-weight: 600;
    font-size: 0.85rem;
    border-radius: 0.25rem;
    background-color: #e7d329;
    padding: 15px 35px;
    color: black;
    margin: 0px 0;
    text-transform: uppercase;
    width: fit-content;
    position: relative;
}

.cta:hover {
    background-color: rgb(3, 59, 55);
    color: white;
}

.readmore {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.85rem;
    border-radius: 0.25rem;
    background-color: rgb(3, 59, 55);
    padding: 10px 35px;
    color: white;
    display: inline-block;
    margin: 10px 0;
    text-transform: uppercase;
    width: fit-content;
}

.readmore:hover {
    background-color: #e7d329;
    color: black;
    font-weight: 600;
}

/*SCROLL TO TOP*/
.scroll-to-top {
    position: fixed;
    right: 30px;
    bottom: 5px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    transform: translateY();
    font-size: 0.8rem;
    border-radius: 5rem;
    border: 2px solid #e7d329;
    background: url(https://i.imgur.com/YgB8Ed8.png);
}

.scroll-to-top.scroll-to-top--show {
    visibility: visible;
    opacity: 1;
    transform: translateY(-10px)
}

/*MAIN BANNERS*/
.promo-heading-home {
    background-image: url(https://nbrs.com.au/_next/image?url=https%3A%2F%2Fcms.nbrs.com.au%2Fweb%2Fmedia%2F_2400xAUTO_crop_center-center_none%2Fimage-1_2880x1800_2023-06-06-064623_gduh.jpg&w=1920&q=75);
    background-position: center;
    height: 600px;
    justify-content: center;
    align-content: center;
    background-size: cover;
    display: flex;
}

.promo-heading-aboutus {
    background-image: url(https://i.imgur.com/8D6Dqqy.jpg);
    background-attachment: fixed;
    background-position: center;
    height: 350px;
    justify-content: center;
    align-content: center;
    background-size: cover;
    display: flex;
}

.promo-heading-nippers {
    background-image: url(https://i.imgur.com/CMdckzO.jpg);
    background-attachment: fixed;
    background-position: center;
    height: 350px;
    justify-content: center;
    align-content: center;
    background-size: cover;
    display: flex;
}

.promo-heading-lifesaving {
    background-image: url(https://i.imgur.com/GmNkJGd.jpg);
    background-attachment: fixed;
    background-position: bottom;
    height: 350px;
    justify-content: center;
    align-content: center;
    background-size: cover;
    display: flex;
}

.promo-heading-competition {
    background-image: url(https://i.imgur.com/zKyYvBz.jpg);
    background-attachment: fixed;
    background-position: center;
    height: 350px;
    justify-content: center;
    align-content: center;
    background-size: cover;
    display: flex;
}

.promo-heading-membership {
    background-image: url(https://i.imgur.com/9jia4NU.jpg);
    background-attachment: fixed;
    background-position: top;
    height: 350px;
    justify-content: center;
    align-content: center;
    background-size: cover;
    display: flex;
}

.promo-heading-merchandise {
    background-image: url(https://i.imgur.com/yS2XMUL.jpg);
    background-attachment: fixed;
    background-position: top;
    height: 350px;
    justify-content: center;
    align-content: center;
    background-size: cover;
    display: flex;
}

/*MAIN BANNER COPY*/
.promo-text {
    position: relative;
    top: 70px;
    width: 80%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 0px;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.promo-text>h1 {
    font-size: 1.75rem;
    font-weight: 600;
    margin: 10px;
}

.promo-text>h2 {
    font-size: 1.15rem;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0px;
    padding: 5px;
}

/*HOME FEATURES*/
.features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
    padding: 75px 0px;
}

.nippers, .lifesaving, .competitions {
    padding: 10px 0px;
    margin: 10px;
    text-align: center;
    width: 350px;
    height: 450px;
    background-size: cover;
    align-items: center;
    border-radius: 0.5rem;
    text-decoration: none;
    color: black;
    font-weight: 400;
    background-position: top;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.nippers-content, .lifesaving-content, .competitions-content {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 0 10px 15px 10px;
    height: 180px;
    display: inline-block;
    margin-top: 265px;
    align-items: center;
    border-radius: 0 0 0.5rem 0.5rem;
}

/*ABOUT US*/
.about-us-tiles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
    padding: 25px 0px;
}

.about-us-tiles .about-us-col {
    background-color: #efefef;
    padding: 0px 0px 20px 0px;
    margin: 10px;
    text-align: center;
    width: 350px;
    height: 160px;
    align-items: center;
    border-radius: 0.5rem;
    text-decoration: none;
    color: black;
    font-weight: 400;
    background-position: top;
}

.about-us-content {
    background-color: #e7d329;
    margin: 0px;
    text-align: center;
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 0.5rem 0.5rem 0 0;
    text-decoration: none;
    color: black;
}

.about-us-content h3, .about-us-content p {
    padding: 0px 15px;
}

.committee-members {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0px 50px;
    justify-content: space-evenly;
    justify-items: center;
    align-content: center;
}

.committee-members article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    position: relative;
}

.committee-members article img {
    height: 100px;
    width: 100px;
    border-radius: 100px;
}

.committee-members p {
    padding: 5px 0px;
    margin: 0px;
}

.committee-members .strong {
    font-weight: 800;
    padding-top: 10px;
}

.committee-members .two-images {
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 0;
}

/*NIPPERS ABOUT*/
.about, .nippers-info {
    margin: 50px 50px;
    justify-content: left;
    text-align: left;
}

.about h1, .about h2, .about h3, .about p, .about ul
.nippers-info h1, .nippers-info h2,.nippers-info h3, .nippers-info p, .nippers-info ul {
    text-align: left;
}

.about h1, .nippers-info h1 {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 2rem;
}

.about h3 {
    font-weight: 200;
    font-size: medium;
}

.nippers-info h3 {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.1rem;
    color: rgb(3, 59, 55);
    padding-top: 15px;
}

.about li, .nippers-info li {
    list-style-type: square;
    display: list-item;
    text-align: left;
    list-style-position:inherit;
    line-height: 18px;
}

.nippers-info-tiles {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    margin: 0px 50px;
}

.nippers-info-col {
    display: flex;
    border-left: 0px;
    margin: 0px;
}

.nippers-info-content {
    display: inline-block;
    color: black;
    justify-content: space-evenly;
    position: relative;
    text-align: center;
    padding: 0px;
}

.nippers-info-content p {
    font-weight: 600;
    font-size: 0.9rem;
}

.nippers-info-content img {
    width: 120px;
    height: 120px;
    border-radius: 10rem;
    background-size: cover;
    background-position: center;
}

.lifesaving-schedule {
    max-width: 300px;
}

/*MEMBERSHIP*/
.how-to-join {
    display: grid;
    grid-template-columns: 1fr;
}

.guides {
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0px;
    background-color: #efefef;
    padding: 10px 0px 5px 40px;
    border-top: 15px solid black;
    border-bottom: 15px solid black;
    gap: 5px;
}

.guides h3, .guides p {
    text-align: left;
    padding-left: 10px;
    margin: 5px 0 5px 0;
}

.guides h2 {
    text-align: left;
    padding-left: 10px;
    margin: 5px 0 5px 0;
}

/*TABLE*/
.table, .table-additional {
    margin-bottom: 40px;
    margin-left: 50px;
    width: auto;
    border-collapse: collapse;
}

.table th, .table-additional th {
    font-weight: 600;
    font-size: 0.85rem;
    padding: 10px 15px;
    border-bottom: 1px solid #efefef;
    background-color: lightgrey;
    width: fit-content;
    text-align: left;
}

.table td, .table-additional td {
    font-weight: 200;
    font-size: 0.85rem;
    line-height: 18px;
    padding: 10px 15px;
    vertical-align: top;
    text-align: left;
}

.table tr:nth-child(odd), .table-additional tr:nth-child(odd) {
    background-color: #efefef;
}

.table .col-2, .table-additional .col-2 {
    width: 80px;
}

/*JOIN PAGE*/
.join-container {
    background-image: url(https://i.imgur.com/Woisj5O.jpg);
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    position: relative;
}

.overlay {
    position: absolute;
    top: 30px;
    width:80%;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 25px 0px 25px 15px;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
    margin: 0px;
}

.overlay h2 {
    margin-bottom: 0px;
    font-size: 1.5rem;
    text-align: left;
}

.form {
    width: fit-content;
}

.form fieldset {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    align-items: center;
    margin-top: 5px;
    margin-right: 5px;
    padding: 0;
    border: none;
}

.form fieldset p {
    text-align: left;
    font-weight: 600;
    display: flex;
    align-content: center;
}

.form fieldset input {
    height: 2rem;
    width: 15rem;
    border: 0;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 5px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    align-items: center;
    color: rgb(3, 59, 55);
}

input[type="text"], input[type="tel"] {
    padding: 0px 5px 0px 10px;
}

.membership-options {
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-content: space-between;
    justify-items: flex-start;
    text-wrap: wrap;
    position: relative;
}

.membership-options h3, .join-container h3 {
    padding-top: 15px;
    text-align: left;
}

/*TOOLTIP*/
.tooltip {
    position: relative;
    top: 2rem;
    right: -0.5rem;
    background: #e7d329;
    padding: 5px 10px;
    font-size: 1rem;
    border-radius: 100%;
    color: black;
    display: flex;
    text-wrap: wrap;
    font-weight: 600;
}
  
.tooltip:before, .tooltip:after {
    position: absolute;
    content: '';
    opacity: 0;
    transition: all 0.4s ease;
}
  
.tooltip:before {
    border-width: 10px 8px 0 8px;
    border-style: solid;
    border-color: #e7d329 transparent transparent transparent;
    top: -15px;
    transform: translateY(20px);
}
  
.tooltip:after {
    content: attr(data-tooltip);
    background: #e7d329;
    width: 160px;
    height: fit-content;
    font-size: 13px;
    font-weight: 300;
    top: -100px;
    right: 10px;
    padding: 10px;
    border-radius: 5px;
    letter-spacing: 1px;
    transform: translateY(20px);
}
  
.tooltip:hover::before,
.tooltip:hover::after {
    opacity: 1;
    transform: translateY(-2px);
}
  
@keyframes shake {
    0% { 
        transform: rotate(2deg);
    }
    50% {
        transform: rotate(-3deg);
    }
    70% {
        transform: rotate(3deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
  
  #anim:hover {
    animation: shake 500ms ease-in-out forwards;
  }

/*MEMBERSHIP OPTIONS*/
.checkbox {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    flex-direction: column;
    align-items: center;
    justify-items: flex-start;
    justify-content: space-between;
    width: 80%;
    text-wrap: nowrap;
    gap: 10px;
}

.checkbox input {
    width: 1rem;
    height: 1rem;
    accent-color: #e7d329;
}

/*WWC AND SUBMIT BUTTON*/
.wwc-radio {
    display: flex;
    flex-direction: row;
    align-items: center;
}

input[type="radio"] {
    cursor: pointer;
    margin-bottom: 12px;
    width: 1.5rem;
    height: 1.5rem;
    accent-color: rgb(3, 59, 55);
}

input[type="radio"]::after {
    accent-color: rgb(3, 59, 55);
}

.wwc-radio label[for="yesradio"] {
    padding-right: 25px;
}

button {
    width: 7.5rem;
    height: 2.5rem;
    border-radius: 5px;
    background-color: #e7d329;
    border: 0px;
    margin-top: 20px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

button:hover {
    background-color: rgb(3, 59, 55);
    color: white;
}

/*CAROUSEL*/
.carousel {
    --current-slide: 0;
    position: relative;
    overflow: hidden;
}

.slider {
    display: inline;
}

.slider-button {
    cursor: pointer;
    position: absolute;
    top: 60%;
    width: auto;
    padding: 30px 10px 30px 10px;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    transition: 0.3s ease;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 100;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
}

.button-left {
    left: 2%;
}

.button-right {
    right: 2%;
}

.button-right:hover, .button-left:hover {
    box-shadow: 0 0 5px #fff;
    border: 1px solid #fff;
    color: white;
}

.slides {
    background-image: url(https://i.imgur.com/WPrt2sg.jpg);
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    height: 150vh;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    overflow: hidden;
}

.slide {
    position: absolute;
    top: 50px;
    width: 65%;
    display: flex;
    justify-content: center;
    z-index: 1;
    transform: translateX(100%); 
    transition: transform 0.5s;
    opacity: 0;
}

.slide.showing {
    transform: translateX(0);
    z-index: 2;
    opacity: 1;
}

.slide-content {
    position: absolute;
    top: 20px;
    width: 70%;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 35px 50px;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slide-tag {
    background-color: rgb(3, 59, 55);
    color: white;
    display: flex;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    right: 0;
    width: fit-content;
    height: 30px;
    padding: 0 15px;
    align-items: center;
    box-shadow: 0 5px 5px #c5c5c5;
    border-radius: 0 0.5rem 0 0.25rem;
    text-transform: uppercase;
}

.carousel-item-copy {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel-item-copy > h1 {
    margin: 15px 0;
}

.carousel-item-copy > h2 {
    font-size: 1.05rem;
    padding-bottom: 25px;
}

.slides img {
    width: 150px;
    height: auto;
    margin: 10px 0;
    border-radius: 1.25rem;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.slides .happy-sad-man {
    width: 90%;
}

.carousel-item-details {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
    padding-bottom: 25px;
}

.slide > h1 {
    font-size: 1.75rem;
    font-weight: 600;
    margin: 10px;
}

.slide > h2 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.35rem;
    text-transform: none;
    margin: 0;
    padding: 5px 0 50px 0;
}

.carousel-item-details-copy > h3 {
    font-size: 1.15rem;
    font-weight: 600;
    color: black;
    text-transform: capitalize;
    margin: 0;
    padding: 5px;
}

.carousel-item-details-copy > p {
    line-height: 1.25rem;
}

.carousel .slides #host-event {
    width: 100%;
}

/*MERCHANDISE*/
.merchandise {
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    margin: 10px 0px;
    }

.merchandise section {
    border-radius: 10px;
    padding: 25px;
    margin: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    }

.merchandise img {
    height: auto;
    width: 90%;
    }

.merchandise .item-details {
    background-color: #efefef;
    padding: 5px 5px 0px 15px;
    margin: 15px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    box-shadow: none;
    }

.item-details p {
    text-align: left;
    }

.item-details #strong {
    font-weight: 600;
    }

/*PROMO FOOTER*/
.promo-footer {
    display: flex;
    justify-content: center;
    background-image: url(https://i.imgur.com/MDCBpdq.jpg);
    height: 250px;
    background-position: center;
    background-size: cover;
    }

.promo-footer-content {
    height: 150px;
    width: 500px;
    display: inline-block;
    margin-top: 10px;
    }

.promo-footer-content h2 {
    color: white;
    font-size: 1.5rem;
    padding: 20px 0px;
    }

/*GLOBAL FOOTER*/
footer {
    position: relative;
    }

.sponsors {
    background-color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0px;
    padding-left: 50px;
    }

.sponsors h3 {
    color: white;
    font-size: 1.15rem;
    font-weight: 400;
    padding-bottom: 10px;
    text-align: left;
    }

.sponsors img {
    height: 50px;
    padding: 5px 0px;
    display: inline-flex;
    justify-content: center;
    align-content: center;
    }

.footer-nav-grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    background-color:  black;
    padding-bottom: 20px;
    }

.footer-nav-grid img {
    display: flex;
    justify-content: flex-start;
    margin-left: 0px;
    width: auto;
    height: 120px;
    margin-top: 40px;
    margin-bottom: 10px;
    }

.footer-nav-col {
    display: flex;
    border-left: 10px;
    padding: 0px;
    margin: 0px;
    justify-content: stretch;
    }

.footer-nav-contents {
    margin: 15px 50px;
    display: inline-block;
    color: white;
    justify-content: center;
    position: relative;
    }

.footer-nav-contents h3 {
    font-size: 1.15rem;
    text-align: left;
    text-transform: uppercase;
    }

.footer-nav-contents p {
    font-size: 0.95rem;
    text-align: left;
    }

.footer-nav-contents a {
    color: white;
    text-decoration: none;
    }

.footer-nav-contents .small {
    font-size: 0.85rem;
    line-height: 20px;
    font-weight: 300;
    }

.footer-nav-contents ul {
    padding: 0px;
    align-items: flex-start;
    text-align: left;
    }

.footer-nav-contents li {
    text-align: left;
    padding-left: 0px;
    }

.followus-icons img {
    margin: 0px;
    padding: 0px;
    height: 30px;
    width: auto;
    display: inline-block;
    justify-content: center;
    }

.footer-nav-contents .join-button {
    display: flex;
    word-wrap: nowrap;
    background-color: black;
    border: 1px solid white;
    border-radius: 0.5rem;
    padding: 10px;
    color: white;
    font-size: 0.9rem;
    font-weight: 600;
    margin-top: 10px;
    text-transform: uppercase;
    }

.join-button:hover {
    background-color: #e7d329;
    color: black;
    }

.disclaimer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px;
}

.disclaimer-copy {
    display: inline;
    background-color: black;
    padding-left: 20px;
    color: white;
    }

.disclaimer-copy p {
    font-size: 0.75rem;
    color: white;
    text-align: left;
    padding: 0px 0px 0 25px;
    line-height: 1rem;
    }

.disclaimer-copy a {
    color: white;
    }

/*ASSETS*/
.nippers {
    background-image: url(https://i.imgur.com/jikDH8i.jpg);
    }

.lifesaving {
    background-image: url(https://lsv.com.au/wp-content/uploads/SURF-LIFE-SAVERS-FF897579-2944091.jpg);
    }

.competitions {
    background-image: url(https://i.imgur.com/r6yi2Ak.jpg);
    }


.surf {
    background: url(https://i.imgur.com/FpJD9ZI.jpg);
    }

.parental {
    background: url(https://i.imgur.com/rZexHDH.jpg);
    }

.comps {
    background: url(https://i.imgur.com/jikDH8i.jpg);
    }

.training {
    background: url(https://i.imgur.com/YHvHuuh.jpg);
    }

.calendar {
    background: url(https://i.imgur.com/vQ8G4Ak.jpg);
    }

.patrol {
    background: url(https://i.imgur.com/FpJD9ZI.jpg);
    }

.awards {
    background: url(https://i.imgur.com/ao5RwLj.jpg);
    }

.patrol-hours {
    background: url(https://i.imgur.com/vQ8G4Ak.jpg);
    }

.education {
    background: url(https://i.imgur.com/tm1jZs7.jpg);
    }

/*DESKTOP SPECS*/
@media (min-width: 1200px) {

    .nippers-content, .lifesaving-content, .competitions-content {
        padding: 0 10px 15px 10px;
    }

    .promo-text {
        position: relative;
        top: 20px;
        width: 100%;
        height: 50%;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 0 10px 15px 10px;
    }

    .promo-text>h1 {
        font-size: 2rem;
        margin: 10px;
    }
    
    .promo-text>h2 {
        font-size: 1.15rem;
        padding: 5px;
        margin: 0px;
    }

    .promo-heading-home, .promo-heading-nippers, .promo-heading-membership, .promo-heading-aboutus, .promo-heading-competition, .promo-heading-lifesaving, .promo-heading-events, .promo-heading-merchandise {
        justify-content: center;
        align-items: center;
        background-size: cover;
        display: flex;
    }

    .promo-text {
        width: 35%;
        height: auto;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 40px;
        border-radius: 0.5rem;
        position: relative;
        top: 0px;
    }

    .promo-text>h1 {
        margin-top: 0px;
    }

    .fees>h3 {
        padding-left: 250px;
    }

    .features {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 20px;
        padding: 75px 0px;
    }

    .about-us-tiles {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        align-content: center;
        gap: 20px;
        padding: 50px 0px;
    }
    
    .about-us-tiles .about-us-col {
        background-color: #efefef;
        border-radius: 0.5rem;
        padding-bottom: 0px;
        height: 200px;
        width: 440px;
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        margin: 10px;
    }
    
    .about-us-content {
        background-color: #e7d329;
        padding: 0px;
        margin: 0px;
        text-align: center;
        width: 100%;
        height: 30%;
        align-items: center;
        border-radius: 0.5rem 0.5rem 0 0;
        text-decoration: none;
        color: black;
        background-position: top;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: stretch;
    }

    .about-us-content p {
        margin-top: 30px;
    }

    .about-us-content p {
        vertical-align: top;
    }

    .committee-members {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: 0px 180px;
        justify-content: space-evenly;
        justify-items: center;
        align-content: center;
    }    

    .about, .nippers-info {
        margin: 50px 250px;
    }

    .nippers-info-tiles {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 5px;
        margin: 0px 250px;
    }

    .lifesaving-schedule {
        min-width: 500px;
    }

    .table, .table-additional {
        margin-left: 250px;
        margin-right: 350px;
        width: auto;
    }
    
    .table th, .table-additional th {
        font-weight: 600;
        font-size: 0.85rem;
        padding: 10px 15px;
        border-bottom: 1px solid #efefef;
        background-color: lightgrey;
        width: fit-content;
        text-align: left;
    }
    
    .table td, .table-additional td {
        font-weight: 200;
        font-size: 0.85rem;
        line-height: 18px;
        padding: 10px 15px;
        vertical-align: top;
        text-align: left;
    }

    .how-to-join {
        display: block;
        position: relative;
    }

    .guides {
        display: block;
        position: absolute;
        top: 50px;
        right: 0px;
        z-index: 500;
        margin: 0 30px;
        background-color: rgb(3, 59, 55);
        padding: 10px;
        border-top: 15px solid black;
        border-bottom: 15px solid black;
        border-radius: 0.25rem;
    }

    .guides>h2 {
        text-align: left;
        padding: 5px 5px 0px 5px;
        margin: 5px 0 5px 0;
        color: white;
    }

    .guides h3, .guides p {
        padding: 10px 5px 0px 5px;
        margin: 5px 0 5px 0;
    }

    .guides h3 { 
        color: #e7d329;
    }

    .guides a {
        color: lightgrey;
    }

    .guides a:hover {
        color: rgb(25, 153, 144);
    }
    
    /*EVENTS CAROUSEL*/
    .slides {
        height: 110vh;
    }
    
    .slider-button {
        top: 40%;
        padding: 50px 30px 50px 30px;
    }
    
    .button-left {
        left: 20%;
    }
    
    .button-right {
        right: 20%;
    }
    
    .slides .happy-sad-man {
        width: 300px;
    }
    
    .carousel-item-details {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    /*JOIN PAGE*/
    .join-container {
        background-image: url(https://i.imgur.com/Woisj5O.jpg);
        background-attachment: fixed;
        background-position: top;
        background-size: cover;
        height: 150vh;
        display: flex;
        justify-content: center;
        align-content: center;
        position: relative;
    }

    .overlay {
        position: absolute;
        top: 50px;
        width: auto;
        height: fit-content;
        background-color: rgba(255, 255, 255, 0.95);
        padding: 35px 80px;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .overlay h2 {
        margin-bottom: 0px;
        font-size: 1.5rem;
    }

    .form fieldset {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 10px;
        align-items: center;
        margin-top: 5px;
        padding: 0;
        border: none;
    }

    .form fieldset p {
        text-align: left;
        font-weight: 600;
        display: flex;
        align-content: center;
        padding-right: 15px;
    }

    .form fieldset input {
        height: 2rem;
        width: 20rem;
        border: 0;
        box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 5px 0 rgba(0, 0, 0, 0.19);
        display: flex;
        align-items: center;
    }

    .membership-options {
        display: flex;
        justify-content: space-between;
        justify-items: center;
        text-wrap: nowrap;
        position: relative;
    }

    .membership-options h3 {
        padding-top: 15px;
    }

    /*TOOLTIP*/
    .tooltip {
        position: relative;
        top: 2rem;
        left: 0.5rem;
        background: #e7d329;
        padding: 5px 10px;
        font-size: 1rem;
        border-radius: 100%;
        color: black;
        display: flex;
        text-wrap: wrap;
        font-weight: 600;
    }
    
    .tooltip:before, .tooltip:after {
        position: absolute;
        content: '';
        opacity: 0;
        transition: all 0.4s ease;
    }
    
    .tooltip:before {
        border-width: 10px 8px 0 8px;
        border-style: solid;
        border-color: #e7d329 transparent transparent transparent;
        top: -15px;
        transform: translateY(20px);
    }
    
    .tooltip:after {
        content: attr(data-tooltip);
        background: #e7d329;
        width: 160px;
        height: fit-content;
        font-size: 13px;
        font-weight: 300;
        top: -100px;
        right: -10px;
        padding: 10px;
        border-radius: 5px;
        letter-spacing: 1px;
        transform: translateY(20px);
    }
    
    .tooltip:hover::before,
    .tooltip:hover::after {
        opacity: 1;
        transform: translateY(-2px);
    }
    
    @keyframes shake {
        0% { 
            transform: rotate(2deg);
        }
        50% {
            transform: rotate(-3deg);
        }
        70% {
            transform: rotate(3deg);
        }

        100% {
            transform: rotate(0deg);
        }
    }
    
    #anim:hover {
        animation: shake 500ms ease-in-out forwards;
    }

    /*CHECKBOX*/
    .checkbox {
        display: grid;
        grid-template-columns: 5% 28% 5% 28% 5% 28%;
        flex-direction: column;
        align-items: center;
        justify-items: flex-start;
        justify-content: space-between;
        width: 90%;
        text-wrap: nowrap;
        gap: 15px;
    }

    .checkbox input {
        width: 1rem;
        height: 1rem;
        accent-color: #e7d329;
    }

    /*WWC RADIO BUTTONS*/
    .wwc-radio {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }

    input[type="radio"] {
        cursor: pointer;
        margin-bottom: 12px;
        accent-color: rgb(3, 59, 55);
        transition: 0.2s all linear;
    }

    .wwc-radio label[for="yesradio"] {
        padding-right: 25px;
    }

    /*SUBMIT BUTTON*/

    button {
        width: 7.5rem;
        height: 2.5rem;
        border-radius: 5px;
        background-color: #e7d329;
        border: 0px;
        margin-top: 20px;
        font-weight: 700;
        text-transform: uppercase;
    }

    button:hover {
        background-color: rgb(3, 59, 55);
        color: white;
    }

    /*MERCHANDISE*/
    .merchandise {
        display: grid;
        flex-direction: column;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-around;
        justify-items: center;
        margin: 10px 250px;
    }

    .merchandise section {
        border-radius: 10px;
        padding: 25px;
        margin: 25px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    }

    .merchandise img {
        height: 300px;
        width: auto;
    }

    .merchandise .item-details {
        background-color: #efefef;
        padding: 5px 5px 0px 15px;
        margin: 15px;
        display: grid;
        grid-template-columns: 1fr 3fr;
        box-shadow: none;
    }

    .item-details p {
        text-align: left;
    }

    .item-details #strong {
        font-weight: 600;
    }

    /*FOOTER*/
    .footer-nav-grid {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        background-color:  black;
        padding-bottom: 20px;
    }

    .sponsors {
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0px;
        padding-left: 50px;
    }

    .sponsors h3 {
        color: white;
        font-size: 1.15rem;
        font-weight: 400;
        padding-bottom: 10px;
        text-align: center;
    }
      
    .sponsors img {
        height: 80px;
        padding: 5px 20px;
        display: inline-flex;
        justify-content: center;
        align-content: center;
    }

    .disclaimer-copy {
        background: black;
        display: flex;
        padding-left: 20px;
        padding-right: 5px;
        width: auto;
        justify-content:center;
    }
    
    .disclaimer p {
        font-size: 0.75rem;
        color: white;
        text-align: left;
        padding: 0px 25px;
    }
    
    .disclaimer a {
        color: white;
    }
}
